body{
	padding: 0px;
	margin: 0px;
	background-color: #393a3f;
	color: white;
}

a{
	text-decoration: none;
	font-style: none;
	color: white;
}

.flexbox{
	display: flex;
	flex-direction: row;
}

header{
	width: 99.9%;
	height: 80px;
	background-color:rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
	padding: 0.1px;
}

header h1{
<<<<<<< HEAD
	font-family: Candara;
	text-align: center;
=======
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
	animation: opacityNome 2s;
>>>>>>> e50fa53 (Beta 1.1)
}

.card{
	width: 300px;
	height: 400px;
	text-align: center;
	border-radius: 5px;
	background-color: #202125;
	padding: 0.1px;
	margin-left: 10px;
	margin-right: 10px;
<<<<<<< HEAD
=======
	animation: inicio 1s;
	
	-webkit-transition: width .2s;
}

.card:hover{
	width: 500px;
	transition: .2s;
>>>>>>> e50fa53 (Beta 1.1)
}

.card h3{
	margin-top: 40px;
	font-size: 14px;
<<<<<<< HEAD
	font-family: Century Gothic;
=======
	font-family: Trebuchet MS, sans-serif;
>>>>>>> e50fa53 (Beta 1.1)
}


.card img{
	width: 100px;
	height: 100px;
	margin-top: 20px;
}

.card p{
	margin-top: 50px;
	font-weight: bold;
}

.card button{
	width: 200px;
	height: 40px;
	background-color:  #f5b352;
	border-radius: 5px;
<<<<<<< HEAD
	margin-top: 50px;
	color: white;
	border-style: none;
=======
	border-style: none;
	margin-top: 50px;
	color: white;
>>>>>>> e50fa53 (Beta 1.1)
	font-weight: bold;
	font-family: Century Gothic;
}

.card button:hover{
	transition: .5s;
<<<<<<< HEAD
	background-color: #e8a12e;
=======
	border: solid #f5b352 1px;
	background-color:rgba(0, 0, 0, 0.3);
	color: #f5b352;
>>>>>>> e50fa53 (Beta 1.1)
}

footer{
	width: 99.8%;
	height: 120px;
	background-color:rgba(0, 0, 0, 0.3);
	margin-top: 40px;
	padding: 1px;
}

footer p{
	margin-top: 30px;
	margin-bottom: -10px;
	margin-left: 30px;
}
<<<<<<< HEAD
=======


/*----------Keyframes----------*/

@keyframes inicio{
	0%{
		opacity: 0;
		margin-top: 300px;
	}
	100%{
		opacity: 0.2s;
	}
}

@keyframes opacityNome{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 0.2s;
	}
}
>>>>>>> e50fa53 (Beta 1.1)
